.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f03232;
    height: 80px;
}

.lefttop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lefttop > img {
    width: 9em;
    margin-top: 15px;
    margin-left: 20px;
}

.lefttop > h4{
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
}

.name{
    font-weight: 600;
    font-size: large;
}





.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 50px 50px;
  width: 3.3em;
  height: 3.3em;
  border: 2px solid #fff;
  cursor: pointer;
  margin-right: 90px;
}
.avatar img {
  width: 3em;
  height: 3em;
  border-radius: 50px;
  object-fit:fill;

}

.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: center;
}

.tooltip .bottom {
  min-width: 200px;
  height: 100px;
  top: 37px;
  left: 50%;
  transform: translate(-61.9%, 0);
  padding: 10px 20px;
  color: #444444;
  background-color: #eeeeee;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.tooltip .bottom i {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .bottom i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #eeeeee;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 110px;
  background-color: #f03232;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 15px;
}

.logoutBtn p {
  color: white;
  font-weight: 600;
}
